<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="../static/style.css"><!-- cssファイルの読み込み -->
    <link rel="icon" href="./static/images/畑アイコン.jpg">
    <title>ほくだい畑</title><!--ブラウザのタブのタイトルを指定-->
  </head>
  <body><!--ページの見た目を作る部分-->
    <header>
      <div class="head">
        <div class="logo">
          <a href="index.html">ほくだい畑</a>
        </div>
        <div class="menu">
          <a href="http://127.0.0.1:5000/about">わたしたちについて</a>
          <a href="http://127.0.0.1:5000/event">年間イベント</a>
          <a href="http://127.0.0.1:5000/vegtable">栽培野菜</a>
        </div>
      </div>
    </header>
    <main>
            <!--スライドショー入れる-->
      <div class="slide-container">
        <div class="slide-wrapper">
        <img class="slide" src="../static/images/野菜たち.jpg" alt="野菜">
        <img class="slide" src="../static/images/学祭.JPG" alt="北大祭出店">
        <img class="slide" src="../static/images/うつくちぃ.jpg" alt="収穫風景">
        <img class="slide" src="../static/images/パンこね.jpg" alt="パン焼き会">
        <img class="slide" src="../static/images/パン包み.jpg" alt="パン焼き会">
        <img class="slide" src="../static/images/お待ち.jpg" alt="パン焼き会">
        <img class="slide" src="../static/images/播種ｍｍ.jpg" alt="播種風景">
        <img class="slide" src="../static/images/ラストの日.jpg" alt="最終日">
        </div>
      </div>
      <div class="content1 cf">
        <h1>わたしたちについて</h1>
        <div class="inst"><p>
        ほくだい畑はどんなサークルかと端的にいうと、北大構内の畑で野菜を育てるサークルです。畑を耕す耕耘という作業から、種まき、収穫、その後の加工、消費までを学生だけで行っています。<br>
        現在サークルには多くの学部の人が参加しています。なので、農学部じゃないけど入っていいのかなと不安がる必要もありません！！農学部の人もそうでない人も大歓迎です♪一緒に農業について学んでいきましょう。<br>
        <a href="">活動の様子はこちら</a>
        </p></div>
        <div class="sunnyday"><img src="../static/images/晴れの日.jpg" alt="作業風景" height="250px">
        </div>
      </div>
      <div class="content2">
        <h1>年間イベント</h1>
        <details class="details js-details">
          <summary class="details-summary js-details-summary"><span class="btn"></span>4月　フォトコンテスト開幕</summary>
          <div class="details-content js-details-content">
            <p>ここは、1つ目のアコーディオンの中身です。</p>
          </div>
        </details>
        <details class="details js-details">
          <summary class="details-summary js-details-summary"><span class="btn"></span>　　　ほくだい畑すごろく</summary>
          <div class="details-content js-details-content">
            <p>ここは、2つ目のアコーディオンの中身です</p>
          </div>
        </details>
        <details class="details js-details">
          <summary class="details-summary js-details-summary"><span class="btn"></span>６月　北大祭出店</summary>
          <div class="details-content js-details-content">
            <p>ここは、3つ目のアコーディオンの中身です。</p>
          </div>
        </details>
      </div>
      <div class="content3">
        <h1>2024年度　栽培野菜</h1>
          <table border="1" bordercolor="green" width="100%">
            <tr>
              <th>ナス<br>
              <!--ナスの画像探してはる--></th>
              <th>里芋<br>
              <!--里芋の画像探してはる--></th>
              <th>ソラマメ<br>
              <!--ソラマメの画像探してはる--></th>
              <th>白菜<br>
              <!--白菜の画像探してはる--></th>
              <th>ズッキーニ<br>
              <!--ズッキーニの画像探してはる--></th>
              <th>タマネギ<br>
              <!--タマネギの画像探してはる--></th>
            </tr>
            <tr>
              <th>トウモロコシ<br>
              <!--トウモロコシの画像探してはる--></th>
              <th>ジャガイモ<br>
              <!--ジャガイモの画像探してはる--></th>
              <th>トウガラシ<br>
              <!--トウガラシの画像探してはる--></th>
              <th>スイカ<br>
              <!--スイカの画像探してはる--></th>
              <th>小ネギ<br>
              <!--小ネギの画像探してはる--></th>
              <th>ナガイモ<br>
              <!--ナガイモの画像探してはる--></th>
            </tr>
            <tr>
              <th>カボチャ<br>
              <!--カボチャの画像探してはる--></th>
              <th>ピーナッツ<br>
              <!--ピーナッツの画像探してはる--></th>
              <th>トマト<br>
              <!--トマトの画像探してはる--></th>
              <th>メロン<br>
              <!--メロンの画像探してはる--></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>サツマイモ<br>
              <!--サツマイモの画像探してはる--></th>
              <th>ブロッコリー<br>
              <!--ブロッコリーの画像探してはる--></th>
              <th>キャベツ<br>
              <!--キャベツの画像探してはる--></th>
              <th>ピーマン<br>
              <!--ピーマンの画像探してはる--></th>
              <th>パプリカ<br>
              <!--パプリカの画像探してはる--></th>
              <th></th>
            </tr>
          </table>
      </div>
    </main>
    <footer>
      <div class="footer_logo">copyright © ほくだい畑</div>
    </footer>
  </body>
</html>